form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
input, select, textarea {
    padding: 20px;
    margin-bottom: 10px;
}
input, select, textarea::placeholder {
    font-size: 1.2rem;
}
select > option {
    width: 20px;
}
button {
    padding: 10px;
    font-size: 1.2rem;

}